NEXT_PUBLIC_API_BASE_URL=https://<api-id>.execute-api.<region>.amazonaws.com/dev
NEXT_PUBLIC_WORKER_POOL_ID=<from CDK output>
NEXT_PUBLIC_WORKER_CLIENT_ID=<from CDK output>
NEXT_PUBLIC_EMPLOYER_POOL_ID=<from CDK output>
NEXT_PUBLIC_EMPLOYER_CLIENT_ID=<from CDK output>
